@font-face {
    font-family: 'Minecraft';
    src: url('../fonts/Minecraft.ttf') format('truetype');
}

canvas{
    font-family: 'Minecraft';
    background-color: black;
    background-image: url("../images/Tiles/backgrounddetailed1.png");
    float: left;
}

body{
    overflow: hidden;
    margin: 0px;
}
